<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
<body>
<section>

  <form action="/login" method="post">
    <h1>Login</h1>
    <div class="inputbox">
      <input name="username" id="username" type="name" required placeholder=" ">
      <label for="username">Username</label>
    </div>
    <div class="inputbox">
      <input name="password" type="password" id="password" required placeholder=" ">
      <label for="password">Password</label>
    </div>

    <div class="register">
      <p><a href="#">Forget Password?</a></p>
    </div>
    <button>Log in</button>
    <div class="register">
      <p>Don't have an account? <a href="/signup">Register!!</a></p>
    </div>
  </form>
</section>
</body>
